*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
  background-color:#eee;
  background-image: linear-gradient(to right, rgba(138, 137, 137, 0.548),rgba(168, 168, 168, 0.589)),url(./nat-8.jpg);
}
.container_search {
  text-align: center;
  margin-top: 5%;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-btn {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-right: 10px;
}

.submit-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.renderImage{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img {
  width: 295px;
  height: 292px;
  margin: 30px;
  border-radius: 7%;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  object-fit: cover;
}

.img:hover {
  transform: scale(1.05);
}
.input-element {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  width: 300px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-element:focus {
  outline: none;
  box-shadow: 0 0 4px #2196f3;
}


@media screen and (min-width: 455px) {
  .img {
    width: 275px;
    height: 200px;
    margin: 16px;
    object-fit: cover;
  }
}
